### 1	

Write a program to print the numbers 2 to 10 in increments of two on the same line. The output of your program should be 2 4 6 8 10

In [ ]:
a = 2
b = 10
while a<b:
    print(f'{a}', end=" ")
    a +=2

2 4 6 8

### 2	
Write a Program to compute the sum of eight numbers. You will prompt the user for each number. Your prompt should also indicate which number is currently being accepted e.g. your prompt can be "Please enter value #5: "

In [4]:
a = 0
for _ in range(1,9):
    b = float(input(f'enter the number {_}'))
    a += b
print(a)

8.0

#### 3	
Write a Program to compute the average of ten numbers. You will prompt the user for each number.

In [9]:
a = 0
for _ in range(1,11):
    b = float(input(f'enter the number {_}'))
    a += b
avg = a/10
print(avg)

5.5

#### 4
Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
a = 0
for b in range(1,101):
    a += b
print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

#### 5
Write a program to print the numbers from 10 down to 1 on a single line.

In [8]:
a = 10
while a>=1:
    print(a,end=" ")
    a-=1

10 9 8 7 6 5 4 3 2 1

#### 6
Write a program to prompt the user for a number and then prints its multiplication table up to 10

In [ ]:
a = float(input('enter the number'))
for b in range(1,11):
    print(f'{a}*{b} = {a*b}')

5.0*1 = 5.0
5.0*2 = 10.0
5.0*3 = 15.0
5.0*4 = 20.0
5.0*5 = 25.0
5.0*6 = 30.0
5.0*7 = 35.0
5.0*8 = 40.0
5.0*9 = 45.0
5.0*10 = 50.0

#### 7 
Write a program to print all the numbers from 1 tp 50 that are multiples of 3 or 5 or both.

In [ ]:
for a in range(1,51):
    if a % 3 ==0 or a & 5 ==0:
        print(a)

2
3
6
8
9
10
12
15
16
18
21
24
26
27
30
32
33
34
36
39
40
42
45
48
50

#### 8
Write a program to print all the numbers from 40 to 0 that are NOT multiples of 7.

In [ ]:
a = 40
while a>=0:
    if a % 7 !=0:
        print(a)
    a -=1

40
39
38
37
36
34
33
32
31
30
29
27
26
25
24
23
22
20
19
18
17
16
15
13
12
11
10
9
8
6
5
4
3
2
1

#### 9	
Write a python program that displays a conversion table from gallons to liters. The program should display gallons from 10 to 20 in one-gallon increments and the corresponding liter equivalents. Use the relationship that 1 gallon contains 3.785 liters. Your table must look professional!

In [ ]:
print('-----------------------------')
print('|   gallons  |    litres    |')
print('-----------------------------')
lg = 3.785
for gl in range(10,21):
    liters=f'{gl*lg:.2f}'
    print(f'|{gl:>8}    |{liters:>9}     |')
    print('-----------------------------')

-----------------------------
|   gallons  |    litres    |
-----------------------------
|      10    |    37.85     |
-----------------------------
|      11    |    41.64     |
-----------------------------
|      12    |    45.42     |
-----------------------------
|      13    |    49.20     |
-----------------------------
|      14    |    52.99     |
-----------------------------
|      15    |    56.78     |
-----------------------------
|      16    |    60.56     |
-----------------------------
|      17    |    64.34     |
-----------------------------
|      18    |    68.13     |
-----------------------------
|      19    |    71.92     |
-----------------------------
|      20    |    75.70     |
-----------------------------

#### 10	
Write a C# program that converts feet to meters. The program should display feet from 3 to 30 in three-foot increments and the corresponding meter equivalents. Use the relationship that 1 meter is equivalent to 3.28 feet. Your table must look professional!

| meters |  feet |
| ---: | ---: |
|    3 |      9.75 |
|    6 |     19.50 |
|    9 |     29.25 |
|   12 |     39.00 |
|   15 |     48.75 |
|   18 |     58.50 |
|   21 |     68.25 |
|   24 |     78.00 |
|   27 |     87.75 |
|   30 |     97.50 |

In [32]:
print('----------------------------------')
print('|    meters   |        feet      |')
print('----------------------------------')
foot = 3.28
for m in range(3,31,3):
    feet = f'{m * foot:.2f}'
    print(f'|{m:>7}      |{feet:>12}      |')
    print('----------------------------------')

----------------------------------
|    meters   |        feet      |
----------------------------------
|      3      |        9.84      |
----------------------------------
|      6      |       19.68      |
----------------------------------
|      9      |       29.52      |
----------------------------------
|     12      |       39.36      |
----------------------------------
|     15      |       49.20      |
----------------------------------
|     18      |       59.04      |
----------------------------------
|     21      |       68.88      |
----------------------------------
|     24      |       78.72      |
----------------------------------
|     27      |       88.56      |
----------------------------------
|     30      |       98.40      |
----------------------------------

#### 11	
Write a program to produce a table of the numbers 0 through 20 in increments of 2, with their squares and cubes. Your table must look professional!

Your output should be formatted as shown below

| x  |  x^2 |   x^3 |
| ---: | ---: | ---: |
|  0 |      0 |       0 |
|  2 |      4 |       8 |
|  4 |     16 |      64 |
|  6 |     36 |     216 |
|  8 |     64 |     512 |
| 10 |    100 |    1000 |
| 12 |    144 |    1728 |
| 14 |    196 |    2744 |
| 16 |    256 |    4096 |
| 18 |    324 |    5832 |
| 20 |    400 |    8000 |

In [ ]:
print('-------------------------')
print('|  x |  x^2 |     x^3   |')
print('-------------------------')
for x in range(0,21,2):
    print(f'| {x:>2} | {x**2:>3}  |   {x**3:>4}    |')
    print('-------------------------')

-------------------------
|  x |  x^2 |     x^3   |
-------------------------
|  0 |   0  |      0    |
-------------------------
|  2 |   4  |      8    |
-------------------------
|  4 |  16  |     64    |
-------------------------
|  6 |  36  |    216    |
-------------------------
|  8 |  64  |    512    |
-------------------------
| 10 | 100  |   1000    |
-------------------------
| 12 | 144  |   1728    |
-------------------------
| 14 | 196  |   2744    |
-------------------------
| 16 | 256  |   4096    |
-------------------------
| 18 | 324  |   5832    |
-------------------------
| 20 | 400  |   8000    |
-------------------------

#### 12
Write a program to produce a table of numbers from 10 to 1, with their squares and cubes. Again, your table must look professional!

Your output should be formatted as shown below
| x  |  x^2 |   x^3 |
| ---: | ---: | ---: |
 | 10 |     100 |    1000 |
 |  9 |      81 |     729 |
 |  8 |      64 |     512 |
 |  7 |      49 |     343 |
 |  6 |      36 |     216 |
 |  5 |      25 |     125 |
 |  4 |      16 |      64 |
 |  3 |       9 |      27 |
 |  2 |       4 |       8 |
 |  1 |       1 |       1 |

In [15]:
print('-------------------------')
print('|  x |  x^2 |    x^3    |')
print('-------------------------')
x = 10
while x>=1:
    print(f'| {x:>2} | {x**2:>3}  |   {x**3:>4}    |')
    x -= 1
    print('-------------------------')

-------------------------
|  x |  x^2 |    x^3    |
-------------------------
| 10 | 100  |   1000    |
-------------------------
|  9 |  81  |    729    |
-------------------------
|  8 |  64  |    512    |
-------------------------
|  7 |  49  |    343    |
-------------------------
|  6 |  36  |    216    |
-------------------------
|  5 |  25  |    125    |
-------------------------
|  4 |  16  |     64    |
-------------------------
|  3 |   9  |     27    |
-------------------------
|  2 |   4  |      8    |
-------------------------
|  1 |   1  |      1    |
-------------------------

#### 13	
Write a program that displays a conversion table from Fahrenheit to Celsius. The program must request the starting Fahrenheit value, the ending Fahrenheit value, and the increment. Thus, instead of the condition checking for a fixed count, the condition checks for the ending Fahrenheit value. Your table must look professional!

Your output should be formatted as shown below
|meters |  feet|
| ---: | ---: |
|    0 |      0.00 |
|    3 |      9.75 |
|    6 |     19.50 |
|    9 |     29.25 |
|   12 |     39.00 |
|   15 |     48.75 |
|   18 |     58.50 |
|   21 |     68.25 |
|   24 |     78.00 |
|   27 |     87.75 |
|   30 |     97.50 |

In [38]:
print('-------------------------------')
print('|   Farenheit   |   Celsius   |')
print('-------------------------------')
startingf = float(input('enter starting Fareheit value'))
endingf = float(input('enter ending Fareheit value'))
increment = float(input('enetr the increment'))
while startingf <= endingf:
     c = float(f'{(startingf -32)/1.8}')
     farenheit = f'{startingf:.2f}'
     celcius = f'{c:.2f}'
     print(f'|  {farenheit:>7}      |   {celcius}    |')
     print('-------------------------------')
     startingf += increment

-------------------------------
|   Farenheit   |   Celsius   |
-------------------------------
|     0.00      |   -17.78    |
-------------------------------
|     1.00      |   -17.22    |
-------------------------------
|     2.00      |   -16.67    |
-------------------------------
|     3.00      |   -16.11    |
-------------------------------
|     4.00      |   -15.56    |
-------------------------------
|     5.00      |   -15.00    |
-------------------------------
|     6.00      |   -14.44    |
-------------------------------
|     7.00      |   -13.89    |
-------------------------------
|     8.00      |   -13.33    |
-------------------------------
|     9.00      |   -12.78    |
-------------------------------
|    10.00      |   -12.22    |
-------------------------------

#### 14  
Write a python program that calculates and displays the amount of money available in a bank account that initially has $1,000 deposited in it and that earns 8 percent interest a year. Your program should display the amount available at the end of each year for a period of ten years. Use the relationship that the money available at the end of each year equals the amount of money in the account at the start of the year plus .08 times the amount available at the start of the year.


Your output should be formatted as shown below
| Year  |  Balance |
| ---: | ---: |
|  1 |     $1,080.00 |
|  2 |     $1,166.40 |
|  3 |     $1,259.71 |
|  4 |     $1,360.49 |
|  5 |     $1,469.33 |
|  6 |     $1,586.87 |
|  7 |     $1,713.82 |
|  8 |     $1,850.93 |
|  9 |     $1,999.00 |
| 10 |     $2,158.92 |

In [59]:
print('----------------------------')
print('|   year   |    Balance    |')
print('----------------------------')
start = 1000
for a in range(1,11):
    end = start + (start * 0.08)
    Balance = f'{end:.2f}'
    print(f'|  {a:>4}    |    {Balance}    |')
    print('----------------------------')
    start = end

----------------------------
|   year   |    Balance    |
----------------------------
|     1    |    1080.00    |
----------------------------
|     2    |    1166.40    |
----------------------------
|     3    |    1259.71    |
----------------------------
|     4    |    1360.49    |
----------------------------
|     5    |    1469.33    |
----------------------------
|     6    |    1586.87    |
----------------------------
|     7    |    1713.82    |
----------------------------
|     8    |    1850.93    |
----------------------------
|     9    |    1999.00    |
----------------------------
|    10    |    2158.92    |
----------------------------

#### 15
Write a program to prompt the user for an integer. The program should add the digits and print the sum.

In [62]:
num = input('enter an integer')
sum = 0
for digit in num:
    sum += int(digit)
print(sum)

7

#### 16	
Write a program that continuously requests a grade. 
If the grade is less than 0 or greater than 100, your program should print an appropriate message informing the user that an invalid grade has been entered, 
else the grade should be added to a total. 
If the grade is 999, the program should exit the loop and display the sum, number of valid grades and the average of the valid grades entered. (You must NOT display an invalid message)
P.S. The value 999 is use to terminate the cycle and should not be used in any of the calculation. You must not display an “Invalid grade”

In [9]:
count = 0
sum = 0
while True:
    grade = int(input('enter the grade'))
    if grade == 999:
        break
    elif grade <0 or grade >100:
        print('an invalid grade')
        continue
    else:
        sum += grade
        count +=1
print(sum)

an invalid grade
an invalid grade
271

#### 17	
Print the decimal, octal, and hexadecimal values of all characters between the start and stop characters entered by a user. For example, if the user enters an a and a z, the program should print all the characters between a and z and their respective numerical values. Make sure that the second character entered by the user occurs later in the alphabet than the first character. If it does not, write a loop that repeatedly asks the user for a valid second character until one is entered.
Your output should be formatted as shown below
| Letter | Decimal | Octal | Hex |
|--------|---------|-------|-----|
| a      | 97	   | 141   | 61  |
| b      | 98	   | 142   | 62  |
| c      | 99	   | 143   | 63  |
| d      | 100     | 144   | 64  |
| e      | 101     | 145   | 65  |

-   to obtain an int from a char use an explicit cast
-   to obtain an octal from an int use Convert.ToString(«number_value», 8)
-   to obtain a hexadecimal from an int use Convert.ToString(«number_value», 16)

In [24]:
print('------------------------------------------')
print('| Letter  |  Decimal  |  Octal  |  Hex   |')
print('------------------------------------------')
start = input('enter the satrt character').lower()
while True:
    stop = input('enter the stop chatacter').lower()
    if stop > start:
        break
    print('stop character must come later on alphabet than start')
for a in range(ord(start), ord(stop)+1):
    dl = a
    ol = format(a,'o')
    hl = format(a,'x')
    print(f'|  {chr(a):>2}     |{dl:>6}     | {ol:>5}   |   {hl:>2}   |')
    print('------------------------------------------')

------------------------------------------
| Letter  |  Decimal  |  Octal  |  Hex   |
------------------------------------------
|   a     |    97     |   141   |   61   |
------------------------------------------
|   b     |    98     |   142   |   62   |
------------------------------------------
|   c     |    99     |   143   |   63   |
------------------------------------------
|   d     |   100     |   144   |   64   |
------------------------------------------
|   e     |   101     |   145   |   65   |
------------------------------------------
|   f     |   102     |   146   |   66   |
------------------------------------------
|   g     |   103     |   147   |   67   |
------------------------------------------
|   h     |   104     |   150   |   68   |
------------------------------------------

#### 18
Write a program to print all the letter from A to Z

In [34]:
for a in range(ord('A'), ord('Z')+1):
    print(f'{chr(a)}', end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

#### 19
Write a program to find al 3-digits Armstrong number (e.g. 153 = 1^3 + 5^3 + 3^3)

In [ ]:
print("3-digit Armstrong numbers are:")

for num in range(100, 1000):  
    digits = str(num)        
    n = len(digits)           
    arm_sum = sum(int(d)**n for d in digits)  
    if num == arm_sum:        
        print(num)

3-digit Armstrong numbers are:
153
370
371
407